{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/a6e732645c.js" crossorigin="anonymous"></script>

    <script src="{% static 'functions.js' %}" defer></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock scripts %}

    <title>Social.ME | {% block title %}{% endblock title %}</title>
</head>

<body style="background:#DDE2E5">

    <div class="row">
        <div class="container-fluid p-3 bg-primary text-white text-center">
            <h1>Social.ME</h1>
        </div>

        <div class="col-sm-12 bg-secondary text-light">
            {% block nav %}
                <div class="row" style="padding-top:5px;padding-bottom:5px">
                    {% if user.is_authenticated %}
                        <div class="col-sm-2 text-left">
                            &nbsp&nbsp<a style="color:white" href="#">HOME</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                            <a style="color:white" href="{% url 'logout' %}">Log Out</a>
                        </div>
                        <div class="col-sm-8 text-center">
                            {% block userName %}{%endblock userName%}
                        </div>
                        <div class="col-sm-2 text-right">
                            <form>
                                <div class="input-group">
                                    <input class="form-control" placeholder="Search" name="search" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="col-sm-2 text-left">
                            &nbsp&nbsp<a style="color:white" href="{% url 'login' %}">Log In</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                            <a style="color:white" href="{% url 'signup' %}">SIGN UP</a>
                        </div>
                        <div class="col-sm-8 text-center">
                        </div>
                        <div class="col-sm-2 text-right">
                            <form>
                                <div class="input-group">
                                    <input class="form-control" placeholder="Search" name="search" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endblock nav %}
        </div>
        <div class="row">
            <div class="col-sm-3" style="margin-top:10px">{% block left %}{%endblock left %}</div>
            <div class="col-sm-6 text-center" style="margin-top:10px;padding-bottom:10px;margin-bottom:10px;background:#DDE2E5">{% block content %}{% endblock content %}</div>
            <div class="col-sm-3" style="margin-top:10px">{% block right %}{% endblock right %}</div>
        </div>
    </div>
</body>

</html>