{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block scripts %}
<script src="{% static 'posts/main.js' %}" defer></script>
{% endblock scripts %} {% block title %} | Posts {% endblock title %} {% block left %}
<div class="col-sm-12" style="
        height:250;
        max_height:500px;
        overflow:auto;
        margin-bottom:10px;
        box-shadow:3px 3px 2px gray;
        background:#ffffff;
        padding-left:5px;
        padding-top:10px;
        padding-bottom:10px;
        margin-top:10px;
        margin-left:10px;
        border:solid 1px black">
    <h3>NOTIFICATIONS</h3>
    Coming soon!<br><br>

    <strong>New Features in the works:</strong><br> Profile page<br> Edit name, profile pic, etc<br> Edit/Remove posts<br> Friend Control<br> View Friends Profile<br><br> Suggestions, leave a post!


</div>
{% endblock left %} {% block right %}
<div class="col-sm-11" style="
        height:250;
        max_height:500px;
        overflow:auto;
        margin-bottom:10px;
        box-shadow:3px 3px 2px gray;
        background:#ffffff;
        padding-left:5px;
        padding-top:10px;
        padding-bottom:10px;
        margin-top:10px;
        margin-right:10px;
        border:solid 1px black">
    <divclass="col-sm-12 text-left">
        <h3>FRIENDS</h3>
        <ul id="friendList" style="list-style:none">
        </ul>
</div>
</div>
{% endblock right %} {% block content %}

<!-- CREATE POST MODAL -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModalLabel">New Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color:red" id='error_message'></p>
                {{form|crispy}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="post_cancel" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="post_save">Save Post</button>
            </div>
        </div>
    </div>
</div>

<!-- EDIT POST MODAL -->
<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color:red" id='error_message'></p>
                {{editForm|crispy}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deletePostButton">DELETE POST</button>
                <button type="button" class="btn btn-danger" id="editPost_cancel" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="editPost_save">Save Post</button>
            </div>
        </div>
    </div>
</div>

<div class="text-start" id='posts-box'></div>

<script>
    function removeNode(node) {
        var nodeToRemove = document.getElementById(node);
        nodeToRemove.remove();
    }

    function autoheight(x) {
        x.style.height = "5px";
        x.style.height = (15 + x.scrollHeight) + "px";
    }
</script>
{% endblock content %}